.login-background {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.login-background::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('/public/imgs/Back_trailer.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}
