.col-lg-6.mb-3 video {
    border-radius: 5px;
  }
  
  .col-lg-6.mb-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0 auto;
    transform: scale(0.8);
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.5));
}
  
  .button-volume {
    background-color: transparent;
    border: 0;
  }
  
  .bi.bi-volume-mute {
    color: rgb(0, 206, 0);
    font-size: 25px;
  }
  
  .bi.bi-volume-up-fill {
    color: rgb(0, 206, 0);
    font-size: 25px;
  }